# RISC-V program files
*.bin
*.dump
*.map
*.elf*
*.hex
*.o
*.d
*.i
*.s
*_symbols.json
local/
baremetal/*/test_array*h
baremetal/*/test_matrices*h
baremetal/aapg_static/*/main.S

baremetal/mlp/model*.h

# dev dir
NN
