# build files
src/build*/
src/ama-riscv-sim
src/out_*/
src/gprof_out/
src/*.out

# checkers/logs/sim outputs
*.check
*.log
*.dot
*.pkl
sweep_*_best*.json
sweep_*_binned*.json
sweep_*.png
script/**/out_*/
script/**/*pkl.gz
script/*.out

# test files
test/testrun_*/
test/gtest_testlist.txt
test/ama-riscv-sim_test
test/*.gcno
test/*.gcda
test/coverage
test/*.bin

# manuals/helps/profiling
*.help
*.man
*.gprof
gmon.out
analysis.gprof.ipynb
*.nm
*.grep

# python files
__pycache__/

# Vim files
*.swp

# VSCode files
.vscode/
.vscode-ctags

# untracked files
local/
