[submodule "sw/riscv-isa-tests/riscv-tests"]
	path = sw/riscv-isa-tests/riscv-tests
	url = git@github.com:riscv-software-src/riscv-tests.git
[submodule "src/external/cxxopts"]
	path = src/external/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "src/external/ELFIO"]
	path = src/external/ELFIO
	url = https://github.com/serge1/ELFIO.git
[submodule "script/FlameGraph"]
	path = script/FlameGraph
	url = git@github.com:brendangregg/FlameGraph.git
[submodule "sw/micropython"]
	path = sw/micropython
	url = git@github.com:AleksandarLilic/micropython.git
[submodule "script/gprof2dot"]
	path = script/gprof2dot
	url = git@github.com:jrfonseca/gprof2dot.git
