# C++ files
*.d
*.o
*.so
*.out
ama-riscv-sim

# checkers/logs
*.check
*.log

# C files
*.bin
*.dump
*.elf
*.hex
*.gprof

# manuals/helps
*.help
*.man
analysis.gperf.ipynb

# Vim files
*.swp

# VSCode files
.vscode/
.vscode-ctags

# untracked files
local/

