# vendored code
sw/baremetal/coremark/** linguist-vendored
sw/baremetal/dhrystone/** linguist-vendored
sw/baremetal/embench/** linguist-vendored
sw/baremetal/imperas-riscv-tests/** linguist-vendored

# overrides
Makefile*inc linguist-language=Makefile
