# vendored code
sw/baremetal/common/mini-printf.* linguist-vendored
sw/baremetal/common/memset.S linguist-vendored
sw/baremetal/coremark/** linguist-vendored
sw/baremetal/dhrystone/** linguist-vendored
sw/baremetal/embench/** linguist-vendored
sw/baremetal/stream_int/** linguist-vendored
sw/baremetal/imperas-riscv-tests/** linguist-vendored
sw/baremetal/ustress/** linguist-vendored

# generated
sw/baremetal/aapg/aapg_rv32*/** linguist-generated

# overrides
Makefile*inc linguist-language=Makefile
